
<div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Ajouter voiture chery</span>
                  </div>
                    <form [formGroup]="cheryCarRegistrationForm" (ngSubmit)="registerCheryCar()" >
                    <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="text"
                          formControlName="manufacturer"
                          name="manufacturer"
                          id="manufacturer"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="manufacturer"
                          >Modèle & Marque </label
                        >
                      </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input
                            type="text"
                            formControlName="bodyType"
                            name="bodyType"
                            id="bodyType"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="bodyType"
                            >Carrosserie </label
                          >
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="number"
                          id="numberOfDoors"
                          formControlName="numberOfDoors"
                          name="numberOfDoors"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="numberOfDoors"
                          >Nombre de portes</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input
                          type="number"
                          id="numberOfSeats"
                          formControlName="numberOfSeats"
                          name="numberOfSeats"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="numberOfSeats">Nombre de places</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline mb-4">
                        <input
                          type="email"
                          formControlName="warrantyDuration"
                          name="warrantyDuration"
                          id="warrantyDuration"
                          class="form-control form-control-lg"
                          
                        />
                        <label class="form-label" for="warrantyDuration"
                          >Garantie </label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline mb-4">
                        <input
                          type="number"
                          formControlName="price"
                          name="price"
                          id="price"
                          class="form-control form-control-lg"
                          
                        />
                        <label class="form-label" for="price"
                          >Prix </label
                        >
                      </div>
                    </div>
                 
                  </div>

                  <div class="form-outline mb-4"> 
                    <label class="form-label" for="customFile"
                    >Publier une photo </label
                  >
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="image">Upload</label>
                    <input type="file" class="form-control" (change)="uploadImage($event)" name="image" id="image">
                  </div>
                  </div>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-dark btn-lg btn-block"
                      type="submit"
                      [disabled]="!cheryCarRegistrationForm.valid"
                    >
                       Ajouter voiture 
                    </button>
                  </div>
                  
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

