<section id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " routerLink="/directeur-commercial-dashboard/gerer-voiture-chery">
        <i class="bi bi-grid"></i>
        <span>Directeur Commercial Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/directeur-commercial-dashboard/gerer-voiture-chery">
        <i class="bi bi-menu-button-wide"></i><span>Gérer les voitures chery</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
    </li><!-- End Components Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/directeur-commercial-dashboard/planifier-vente">
        <i class="bi bi-menu-button-wide"></i><span>Planifier vente</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
    </li><!-- End Components Nav -->
  </ul>

</section>
  <router-outlet></router-outlet>