<div class="row mx-6 my-3" *ngIf="!toggleCheryCarsListDisplay">
    <div class="col">
      <div class="card">
        <div class="table-responsive-lg mb-0">
          <table
            class="table align-middle mb-0 table-hover table-bordered"
            style="background-color: white"
          >
            <thead class="bg-light">
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Modèle</th>
                <th>Caractéristiques</th>
                <th>Prix</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let cheryCar of cheryCarList; let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                     <img width="200" src={{cheryCar.carImageData}} alt="">
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-bold mb-1">{{ cheryCar.model }}
                  </p>
                  <p class="text-muted mb-0">{{ cheryCar.brand }}</p>                    <!-- <p class="text-muted mb-0">IT department</p> -->
                </td>
                <td>
                  <p class="fw-bold mb-1">DISPONIBILITÉ:    Disponible, CARROSSERIE:   {{ cheryCar.bodyType}}, GARANTIE: {{ cheryCar.warrantyDuration }}, 
                    NOMBRE DE PLACES:   {{ cheryCar.numberOfSeats}},NOMBRE DE PORTES:    {{ cheryCar.numberOfDoors}}</p>
                </td>
                <td>
                  <p class="fw-bold mb-1"> {{ cheryCar.price}} DT TTC</p>

                </td>
                <td>
                  <div class="container">
                    <div class="row">
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn btn-sm btn btn-success"
                          (click)="updateCheryCar(cheryCar)"
                        >
                          Modifier
                        </button>
                      </div>
                      <div class="col-1"></div>
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn btn-sm btn btn-warning"
                          (click)="deleteCheryCar(cheryCar)"
                        >
                          Supprimer
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!toggleCheryCarsListDisplay">
    <div class="col-5"></div>
    <div class="col">
      <button
        type="button"
        class="btn btn btn-primary"
        routerLink="/directeur-commercial-dashboard/gerer-voiture-chery/ajouter-voiture"
      >
        Ajouter Voiture
      </button>
    </div>
  </div>

  <app-update-chery-car-form *ngIf="toggleCheryCarsListDisplay" [cheryCar]="updateCheryCarData"></app-update-chery-car-form>