<app-bread-crumb [title]="'Voitures Chery'"></app-bread-crumb>
<section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div class="shop__sidebar__search">
            </div>
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                 
                </div>                 
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo"
                      >Nombre de portes</a
                    >
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__price">
                        <ul>
                          <li>
                            <input type="checkbox" name="twoDoors" id="" />
                            <label for="twoDoors">2 portes</label>
                          </li>
                          <li>
                            <input type="checkbox" name="fourDoors" id="" />
                            <label for="fourDoors">4 portes</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Collapse Three -->
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree"
                      >type de carburant</a
                    >
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__size">
                        <ul>
                          <li>
                            <label for="twoDoors"
                              >essence
                              <input type="radio" name="twoDoors" id="xs" />
                            </label>

                            <label for="twoDoors"
                              >diesel
                              <input type="radio" name="twoDoors" id="xs" />
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Collapse four -->
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFour"
                      >Boite</a
                    >
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__size">
                        <ul>
                          <li>
                            <label for="twoDoors"
                              >Automatique
                              <input type="radio" name="twoDoors" id="xs" />
                            </label>
                          </li>
                          <li>
                            <label for="twoDoors"
                              >manuel
                              <input type="radio" name="twoDoors" id="xs" />
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Collapse five -->
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFive"
                      >Puissance fiscale</a
                    >
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__brand">
                        <input type="range" name="puissance fiscale" id="" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Collapse six -->

                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseSix"
                      >type de carrosserie</a
                    >
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__size">
                        <label for="xs"
                          >SUV
                          <input type="radio" id="xs" />
                        </label>
                        <label for="sm"
                          >Sedan
                          <input type="radio" id="sm" />
                        </label>
                        <label for="md"
                          >Coupé
                          <input type="radio" id="md" />
                        </label>
                        <label for="xl"
                          >Cabriolet
                          <input type="radio" id="xl" />
                        </label>
                        <label for="2xl"
                          >Citadine
                          <input type="radio" id="2xl" />
                        </label>
                        <label for="xxl"
                          >Utilitaire
                          <input type="radio" id="xxl" />
                        </label>
                        <label for="3xl"
                          >Pick up
                          <input type="radio" id="3xl" />
                        </label>
                        <label for="4xl"
                          >Compacte
                          <input type="radio" id="4xl" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Collapse Seven -->
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseSeven"
                      >Colors</a
                    >
                  </div>
                  <div
                    id="collapseSeven"
                    class="collapse show"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="shop__sidebar__color">
                        <label class="c-1" for="sp-1">
                          <input type="radio" id="sp-1" />
                        </label>
                        <label class="c-2" for="sp-2">
                          <input type="radio" id="sp-2" />
                        </label>
                        <label class="c-3" for="sp-3">
                          <input type="radio" id="sp-3" />
                        </label>
                        <label class="c-4" for="sp-4">
                          <input type="radio" id="sp-4" />
                        </label>
                        <label class="c-5" for="sp-5">
                          <input type="radio" id="sp-5" />
                        </label>
                        <label class="c-6" for="sp-6">
                          <input type="radio" id="sp-6" />
                        </label>
                        <label class="c-7" for="sp-7">
                          <input type="radio" id="sp-7" />
                        </label>
                        <label class="c-8" for="sp-8">
                          <input type="radio" id="sp-8" />
                        </label>
                        <label class="c-9" for="sp-9">
                          <input type="radio" id="sp-9" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- <div class="shop__product__option__right">
                  <p>Trier par Prix: </p>
                  <select>
                    <option value="" >Bas vers Haut</option>
                    <option value="" >Haut vers Bas</option>
                  </select>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row"*ngFor="let cheryCar of cheryCarList">
            <div class="col-12" >
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img class="card-img" src={{cheryCar.carImageData}} alt="Card Image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                     
                      <h5 class="card-title">{{ cheryCar.model  }}</h5>
                      
                      <p class="card-text bigger-text">La voiture est connue sous le modèle et la marque {{cheryCar.model}}. 
                        La carrosserie de la voiture est également désignée par {{cheryCar.bodyType}}.
                        Elle est équipée de {{cheryCar.numberOfDoors}} portes et offre {{cheryCar.numberOfSeats}} places assises.
                        La garantie offerte pour cette voiture est de {{cheryCar.warrantyDuration}}. <br> <b>{{cheryCar.price}} DT TTC</b> </p>
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>