        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-blog set-bg"  [ngStyle]="{'background-image':'url(../../assets/img/chery-news-img.jpg)'}" >
            <div class="container" >
              <div class="row">
                <div class="col-lg-12">
                  <h2>Actualité</h2>
                </div>
              </div>
            </div>
          </section>
          <!-- Breadcrumb Section End -->
    
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-1.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" /> 17 Mars 2022
                      </span>
                      <h5>
                        TIGGO 8 PRO Wins the Title of "2021 SUV with the Best Advanced
                        Technology" in Saudi Arabia.
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20220317/detail-807.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-2.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" /> 03 Janvier 2023
                      </span>
                      <h5>
                        Réalisant la double croissance du volume des ventes et de la
                        réputation en 2022.
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20230103/detail-2210.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-3.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" /> 31 Janvier 2023
                      </span>
                      <h5>
                        Gagner à nouveau le prix de la responsabilité sociale dans le
                        cadre de l'initiative "Dual Carbon".
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20230131/detail-2217.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-5.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" />  11 Octobre 2022
                      </span>
                      <h5>
                        Avec le lancement du nouveau véhicule concept GENE, Chery montre sa future tendance par l'apparence et le design intérieur.
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20221011/detail-2158.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-4.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" /> 25 Mars 2022
                      </span>
                      <h5>
                        TIGGO 7 PRO remporte pour Chery la marque de voiture chinoise la plus populaire au Pérou.
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20220325/detail-808.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div
                      class="blog__item__pic set-bg"
                      [ngStyle]="{'background-image':'url(../assets/img/blog/blog-6.jpg)'}"
                    ></div>
                    <div class="blog__item__text">
                      <span
                        ><img src="../../../assets/img/icon/calendar.png" alt="" /> 12 Juillet 2022
                      </span>
                      <h5>
                        OMODA adopte un nouveau concept de design, intégrant profondément le surréalisme et les arts.
                      </h5>
                      <a href="https://www.cheryinternational.com/pc/news/news1/20220712/detail-1903.shtml">En savoir plus</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Section End -->